
NEXT_PUBLIC_SUPABASE_URL=https://cchvvapkchrqqleznxvr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNjaHZ2YXBrY2hycXFsZXpueHZyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc4ODQ3MzgsImV4cCI6MjA4MzQ2MDczOH0.kirmDxY_01dx_qMTi25quoHt4l5-J8HfaWF8CZ0OpLQ
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_for_admin_tasks
