/* Glow Card */
.glowCard {
    position: relative;
    overflow: hidden;
    border-radius: var(--radius-lg);
    background-color: #3d3c3d;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.glowCardContent {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
    opacity: 0.9;
    border-radius: var(--radius-lg);
    inset: 2px;
    background-color: #323132;
    padding: 1rem;
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    transition: background-color 0.3s;
}

.glowEffect {
    position: absolute;
    width: 14rem;
    height: 12rem;
    background-color: white;
    filter: blur(50px);
    left: -50%;
    top: -50%;
    opacity: 0.5;
    transition: all 0.5s;
    pointer-events: none;
}

.glowCard:hover .glowEffect {
    opacity: 0.75;
}

/* Crystal Card */
.crystalCard {
    width: 200px;
    height: 300px;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: var(--radius-lg);
    overflow: hidden;
    background: #3d3c3d;
    /* Fallback */
    transition: transform 0.3s ease;
}

.crystalCard:hover {
    transform: scale(1.05);
}

.crystalBgLayer {
    width: 100%;
    height: 100%;
    padding: 4px;
    position: absolute;
    background-color: #c084fc;
    /* purple-400 */
}

.crystalBgShape {
    width: 100%;
    height: 100%;
    border-radius: var(--radius-lg);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 20px;
    background-color: #222;
}

.crystalSpinnerContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    backdrop-filter: blur(16px);
    border-radius: var(--radius-lg);
}

.crystalSpinner {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background: linear-gradient(to top right, #a855f7, #fdba74);
    /* purple-500 to orange-300 */
    animation: spin 12s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.crystalContentOverlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.crystalLeftCol {
    width: 60%;
    padding: 0.5rem;
    padding-top: 0.75rem;
    display: flex;
    flex-direction: column;
    border-radius: var(--radius-lg);
    backdrop-filter: blur(16px);
    background-color: rgba(249, 250, 251, 0.1);
    color: #e5e7eb;
    font-weight: 500;
    font-family: monospace;
}

.crystalTitle {
    font-size: 1.25rem;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.crystalSubtitle {
    font-size: 0.75rem;
    color: #9ca3af;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.crystalFooter {
    width: 100%;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.crystalRightCol {
    height: 100%;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
    line-height: 12px;
}

.crystalActionButton {
    width: 2rem;
    height: 2rem;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    backdrop-filter: blur(16px);
    background-color: rgba(249, 250, 251, 0.2);
    cursor: pointer;
    transition: all 0.3s;
}

.crystalActionButton:hover {
    background-color: rgba(249, 250, 251, 0.3);
}

.crystalActionIcon {
    width: 1rem;
    height: 1rem;
    color: rgba(255, 255, 255, 0.8);
}